


* {
  font-family: 'Raleway', sans-serif;
}


header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2%;
  padding: 1%;
  background-color: #759eda;

}

.button {
  height: 80%;
  padding: 1%;
  color: black;
  background-color: #5879c7 ;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#country {
  border: none;
  height: 80%;
  width: 20%;
  background-color: transparent;
  color: white;
  font-size: 20px;

}

#country::placeholder {
  color: #fdfdfe;
}


#country:focus {
  border-bottom: 1px solid white;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #9ccef4;
  height: 100vh;
  align-items: center;
  padding: 3%;

}

.bodyimg {
  width: 60%;
  height: 60%;

}


.currentweather {
  width: 40%;
  height: 40%;
  text-align: center;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#title {
  color: white;
  font-size: 25px;
  font-weight: bold;
}



.dayweather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 5%;
}


.timedata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  color: #171780;
  font-size: 20px;

}
 
.weatherimg {
  width: 70%;
  height: 70%;
}

.temp {
  color: #171780;
  font-size: 22px;
}

.climatemetrics {
  color: #171780;
  font-size: 18px;

}

.a {
  margin: 15px;
  color: #030348;
  font-weight: bold;
}

.weatherTemp {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  color: #030348;
}

.detailsT {
  font-weight: bold;
}

@media (max-width:600px) {
  main {
    height: auto;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;

  }

  .button,
  #country {
  font-size: 15px;
    width: 40%;

  }

  .dayweather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  .timedetail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }



  .currentweather {
    width: 100%;
    height: 40%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .weatherimg {
    width: 20%;
    height: 20%;
  }

  .temp {
    color: #171780;
    font-size: 18px;
  }

  .climatemetrics {
    color: #171780;
    font-size: 16px;

  }
}

@media (max-width:300px) {
  .temp {
    font-size: 16px;
  }

  .weatherTemp {
    font-size: 18px;
    font-weight: bold;
    margin: 13px;
    color: #030348;
  }

  .button,
  #country {
    font-size: 10px;
    width: 40%;

  }

  .climatemetrics {
    font-size: 13px;

  }

  .button,
  #country {
    font-size: 10px;

  }

  .timedata {

    font-size: 13px;

  }
}