*{
  font-family: "Raleway", sans-serif;
  background-color: #9CCDF4;
}

header{
  background-color: #759eda;
  padding: 1.4%;
  display: flex;
  
}

input{
  font-family:'Raleway', sans-serif;
  border: none;
  background-color:#759EDA;
  margin-left: 1%;
  font-size: x-large;
  color: white;   
  outline: none;
}
::placeholder{   
  color: white;
opacity: 0.5;
}  
  input:focus{   
  border-bottom: 2px solid #5879C7; 
}
#city-name{
  padding: 0.5%;
}

.find-weather{
  font-size: x-large;
  background-color: #5879c7;
  padding: 1%;
  margin-left: 3%;
  border: none;
}
body{
  margin: 0;
  background-color: #9ccef4;
}
.mostly-cloudy{
  width: 14%;
}
.img-mc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.mc-text{
  color: white;
  margin-top: -0.5%;
  font-size: 25px;
}
  .temp-data p{
  font-size: x-large;
  display: flex;
  justify-content: center;

}
.humidity-pressure{
  /* background-color: aqua; */
  font-family:'Raleway', sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.daily-weather img{
  width: 50%;
  }
footer{
 margin: auto;
  width: 80%;
  font-family:'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-around;
}
.daily-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (  max-width: 678px) {

  header{
    display: flex;
    flex-direction: column;
  }
  .find-weather{
    margin-top: 10px;
    margin-left: 0px;
  }

  footer{
    display: grid;
grid-template-columns: 1fr 1fr;  }
  
  .mostly-cloudy{
    width: 40%;
  }

  .daily-weather{
    margin-bottom: 5%;
  }
}
