.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  background-color: #759eda;
  padding: 1%;
  font-family: Raleway;
}

input{
  font-family:'Raleway', sans-serif;
  border: none;
  background-color:#759EDA;
  margin-left: 1%;
  font-size: x-large;
  color: white;   
  outline: none;
}
::placeholder{   
  color: white;
  font-family:'Raleway', sans-serif;
  }  
  input:focus{   
  border-bottom: 2px solid #5879C7; 
}
#city-name{
  padding: 0.5%;
}

.find-weather{
  font-size: x-large;
  background-color: #5879c7;
  padding: 1%;
  margin-left: 3%;
  border: none;
  font-family:'Raleway', sans-serif;

}
body{
  margin: 0;
  background-color: #9ccef4;
}
.mostly-cloudy{
  width: 14%;
}
.img-mc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.mc-text{
  color: white;
  margin-top: -0.5%;
  font-size: 25px;
  font-family:'Raleway', sans-serif;
}
  .temp-data p{
  font-family:'Raleway', sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;

}
.humidity-pressure{
  /* background-color: aqua; */
  font-family:'Raleway', sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.daily-weather img{
  width: 50%;
  }
footer{
 margin: auto;
  width: 80%;
  font-family:'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: space-around;
}
.daily-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Search bar */

/* Current weather */

/* div {
  border: 5px solid red;
} */
/*  */