@font-face {
  font-family: 'Raleway';
  src: url('/home/jana/Desktop/Weather-API/public/index.html') format('truetype');
}
body{
  margin:0;
  padding: 0;
  font-family:'Raleway', sans-serif;
  background-color: #8FC8F4;
}
header{
  font-family:'Raleway', sans-serif;
  background-color:#759EDA;
  height: 175px;
}
input{
  font-family:'Raleway', sans-serif;
  border: none;
  background-color:#759EDA;
  margin-left: 20px;
  height: 50px;
  font-size:28px;
  color: white;
  outline: none;
 }
 ::placeholder{
  color: white;
  font-family:'Raleway', sans-serif;
 }
button{
  font-family:'Raleway', sans-serif;
  background-color: #5879C7;
  border: 0px;
  border-radius: 3px;
  height: 75px;
  margin-left: 5%;
  margin-top: 45px;
  width:200px;
  font-size: 20px;
  color:#25355c;
}
input:focus{
  border-bottom: 2px solid #5879C7;
}
img{
  display:flex;
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 43%;
}
.overcast{
  font-family:'Raleway', sans-serif;
  color:white;
  font-size: 28px;
  margin-left: 44%;

}
.temp{
  font-family:'Raleway', sans-serif;
  color:#25355c;
  font-size: 28px;
  margin-left: 39%;
  font-weight: bold;
  margin-top: 35px;
}