.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  background-color: #759eda;
  padding: 1%;
  font-family: Raleway;
}

#city-name{
  color: white;
  background-color: #759eda;
  font-size: x-large;
  border: none;
  margin-right: 2%;
  font-family: Raleway;
  
}
.find-weather{
  font-size: x-large;
  background-color: #5879c7;
  padding: 1%;
  /* margin-left: 1%; */
  border: none;
  font-family: Raleway;

}
body{
  margin: 0;
  background-color: #9ccef4;
}
.mostly-cloudy{
  width: 15%;
}


/*  Search bar */

/* Current weather */

/* div {
  border: 5px solid red;
} */
